# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env
.env.*
!.env.example
.venv/
venv/
env/

# AWS
.aws-sam/
samconfig.toml
*.zip

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

aws-lambda-rie
aws-lambda-rie.exe

dockerfile.local